html, body {
  padding:0px;
  margin:0px;
  font-family: 'Raleway', sans-serif;
}
.header_div{
  background-color:  #7b0708;
  border-bottom: 4px solid rgba(255,165,0);
}

.card {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 0px;
  margin-top: 20px;
  width:70%;
  margin:auto;
  animation: moveInTop 1s ease-out;
}
.rightcolumn {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 2vh;
  background-color: white;
-webkit-box-shadow: -2px -7px 12px -1px rgba(194,179,194,0.73);
-moz-box-shadow: -2px -7px 12px -1px rgba(194,179,194,0.73);
box-shadow: -2px -7px 12px -1px rgba(194,179,194,0.73);
}
hr{
  margin-top:5px;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(206,212,218);
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}



input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
textarea.form-control:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid rgb(206,212,218);
}
textarea.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgb(206,212,218);
}
@keyframes moveInTop{
  0%{
    opacity:0;
    transform:translateY(-50px);
  }

  100%{
    opacity:1;

  }
}

.table-responsive{
  height: 55vh;
  max-height: 55vh;
  overflow-y : scroll;
  font-size: 6em;
  margin-top:0px;
}

.modal-body{
  height: 60vh;
  max-height: 60vh;
  overflow-y : scroll;
}


.input-group-text{
  background-color: transparent;
  cursor:pointer;
  outline:none;
  padding:0px;
  border:none;
}

.expansion-panel{
  box-shadow:none;
  border:none;
  outline:none;
  padding:0px;
  margin-bottom:0px;
}

.filterInput{
  background-color: transparent;
  color: #7b0708;
  border: none;
  outline:none;
}

.formLoader {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 100vw;
  overflow: show;
  margin: auto;
  top: 0;
  bottom: 0;
}

/* Transparent Overlay */
.formLoader:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.badge-danger{
  background-color:  #7b0708!important;
  color: rgba(255,165,0)!important;
}

.mat-expansion-panel-focus-overlay {
  background-color: transparent!important;
}


@media screen and (max-width: 768px) {
  .card{
    width:95%;
  }
  .table-responsive{
    height: 60vh;
    max-height: 60vh;
  }
}
.thead-red th{
  background-color: #7b0708;
  color:rgba(255,165,0);
  position: sticky;top:1px;
}

form label {
  font-weight:550;
}

.visited{
  background-color: #ECFFE2;
}

.not-visited{
  background-color: #FFEBE2;
}
